name: Build and Push - PHP 56

on:
  schedule:
    - cron: '0 8 * * *'
  push:
    branches:
      - master
    paths:
      - php56/**

jobs:
  buildAndPush:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      # Base Image
      - name: Build the Docker Base image
        run: cd php56/php56 && docker build . --file Dockerfile --tag labordigital/docker-base-images:php56
      - name: Push the image
        run: docker push labordigital/docker-base-images:php56

      # Dev Image
      - name: Checkout ssl certs
        uses: actions/checkout@v2
        with:
          repository: labor-digital/ssl-certs
          path: php56/php56-dev/ssl
      - name: Build the Docker Dev image
        run: cd php56/php56-dev && docker build . --file Dockerfile --tag labordigital/docker-base-images:php56-dev
      - name: Push the image
        run: docker push labordigital/docker-base-images:php56-dev